<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 <bean id="userAction" class="pfc.web.UserAction">
  <property name="roleService" ref="RoleService" />
  <property name="userService" ref="UserService" />
 </bean>
 <bean id="UserService" class="pfc.service.user.impl.UserServiceImpl">
  <property name="sessionFactory" ref="sessionFactory" />
 </bean>
 <bean id="roleAction" class="pfc.web.RoleAction">
  <property name="userService" ref="UserService" />
  <property name="privilegeService" ref="PrivilegeService" />
  <property name="roleService" ref="RoleService" />
 </bean>
 <bean id="RoleService" class="pfc.service.role.impl.RoleServiceImpl">
  <property name="sessionFactory" ref="sessionFactory" />
 </bean>
 <bean id="variableAction" class="pfc.web.VariableAction">
  <property name="variableService" ref="VariableService" />
 </bean>
 <bean id="VariableService" class="pfc.service.variable.impl.VariableServiceImpl">
  <property name="sessionFactory" ref="sessionFactory" />
 </bean>
 <bean id="privilegeAction" class="pfc.web.PrivilegeAction">
  <property name="roleService" ref="RoleService" />
  <property name="privilegeService" ref="PrivilegeService" />
 </bean>
 <bean id="PrivilegeService" class="pfc.service.privilege.impl.PrivilegeServiceImpl">
  <property name="sessionFactory" ref="sessionFactory" />
 </bean>
 <bean id="demoAction" class="pfc.web.DemoAction">
  <property name="demoService" ref="DemoService" />
 </bean>
 <bean id="DemoService" class="pfc.service.demo.impl.DemoServiceImpl">
  <property name="sessionFactory" ref="sessionFactory" />
 </bean>
</beans>

